---
sitemap: false
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html,
body {
  height: 100%;	
}

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

small {
  font-size: 15px;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}


// To fix the footerzzz
.wrapper-site {
  min-height: 100%;
}

.wrapper-footer {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
  bottom: 0;
}

footer {
  padding: 20px 0;
  text-align: center;
}


/*-------------------------CARD TESTS START HERE---------------------------*/
.u-float-right-blog {
  float: right;
}

.u-flex-center-blog {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.u-clearfix-blog:before,
.u-clearfix-blog:after {
    content: " ";
    display: table;
}

.u-clearfix-blog:after {
    clear: both;
}

.u-clearfix-blog {
    *zoom: 1!important;
}

.container-blog {
  margin: 50px auto;
  overflow: hidden;
  width: 95%;
  border: 1px solid #eee;
  border-top: none;
}

.header-container-blog {
  position: relative;
}

.header-image-blog {
  max-width: 200%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  height: auto;
  -webkit-animation: zoomEffect 35s infinite; 
          animation: zoomEffect 35s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@-webkit-keyframes zoomEffect {
  0% {
    -webkit-transform: scale(1) translateX(0);
            transform: scale(1) translateX(0);
  }
  100% {
    -webkit-transform: scale(1.2) translateX(-360px) translateY(-80px);
            transform: scale(1.2) translateX(-360px) translateY(-80px);
  }
}

@keyframes zoomEffect {
  0% {
    -webkit-transform: scale(1) translateX(0) translateY(0);
            transform: scale(1) translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: scale(1.2) translateX(-360px) translateY(-80px);
            transform: scale(1.2) translateX(-360px) translateY(-80px);
  }
}

.container-blog * {
  box-sizing: inherit;
}

.header-blog {
  color: #fff;
  padding: 15px;
  padding-top: 1px;
  height: 200px;
}

.main-heading-blog {
  color: #fff;  
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 12px;
  margin-top: 5px;
}

.overlay-header-blog {
  background-color: rgba(255, 255, 255,1);
  height: 100px;
  margin: -50px 0 0 -25%;
  transform: rotate(-4deg);
  width: 150%;
  z-index: 0;
}

.body-blog {
  background-color: rgba(255, 255, 255,1);
  color: #555;
  margin-top: -50px;
  padding: 0 15px 0px;
  position: relative;
}

.body-image-blog {
  overflow: none;
  border-radius: 100%;
  box-shadow: 5px 10px 75px rgba(0, 0, 0, .4);
  float: left;
  margin: -90px 0 20px;
  position: relative;
  z-index: 2;
  width: 50px;
  height: 50px;
}

.body-action-button-blog {
  background-color: #383838;
  border-radius: 50%;
  box-shadow: 1px 2px 12px rgba(0,0,0,.4);
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 15px;
  top: -97px;
  width: 40px;
  transform: rotate(40deg);
}

.body-stats-blog {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  float: left;
  margin: -14px 0  0 30px;
  position: relative;
  text-transform: uppercase;
  width: 20%;
}

.body-stats-blog > span {
  display: inline-block;
  font-weight: 900;
  margin-top: 8px;
}

.body-info-blog {
  clear: left;
  position: relative;
  max-height: 100px;
  overflow: hidden;
  transition: all 600ms ease-out;
}

.body-more-blog {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(255, 255, 255,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(255, 255, 255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#eeeeee',GradientType=0 );
  cursor: pointer;
  margin: -57px auto 0px;
  padding: 20px 0 10px;
  position: relative;
  text-align: center;
}

.body-more-blog span {
  background-color: #333;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0,0,0,.3);
  display: inline-block;
  height: 6px;
  margin-right: 2px;
  width: 6px;
}

.card-blog {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .15);
  margin-top: 15px;
  padding: 10px;
}

.card-heading-blog {
  font-size: 12px;
  text-transform: uppercase;
}

.card-more-blog {
  cursor: pointer;
  float: right;
}

.card-list-blog {
  list-style-type: none;
  margin: 10px 0 0;
  overflow-x: scroll;
  padding: 0;
  white-space: nowrap;
}

.card-list-blog::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 2px;
	background-color: #F5F5F5;
}

.card-list-blog::-webkit-scrollbar
{
	height: 3px;
	background-color: #F5F5F5;
}

.card-list-blog::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: #ddd;
}

.card-list-blog li {
  display: inline;
  margin-left: 10px;
}

.card-list-blog li:first-child {
  margin-left: 0;
}

.txt-prot {
  position: absolute;
  height: 70px;
  width: 100%;
  z-index: -1;
  margin: -20;
  background: -webkit-linear-gradient(#444, rgba(0,0,0,0));
  background: -o-linear-gradient(#444, rgba(0,0,0,0));
  background: -ms-linear-gradient(#444, rgba(0,0,0,0));
  background: linear-gradient(#444, rgba(0,0,0,0));  
}



// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
